<div class="row">
  <div class="col-xs-12 col-md-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3>Добавить пользователя</h3>
      <div class="form-group" [ngClass]="{'has-error': !form.get('email').valid && form.get('email').touched}">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email пользователя">
        <span *ngIf="!form.get('email').valid && form.get('email').touched" class="help-block">Введите корректный email</span>
      </div>
      <my-date-picker [options]="myDatePickerOptions"
                      formControlName="start" (dateChanged)="onStartChanged($event)"></my-date-picker>
      <my-date-picker [options]="myDatePickerOptions"
                      formControlName="end" [disabled]="true"></my-date-picker>
      <div class="form-group">
        <label for="course">Выберите курс</label>
        <select id="course" class="form-control" formControlName="course">
          <option [value]="course.id" *ngFor="let course of courses">{{course.name}}</option>
        </select>
      </div>

      <button class="btn btn-success" type="submit" [disabled]="!form.valid">Добавить</button>
    </form>
  </div>
</div>

